<body class="easyui-layout">
    <div data-options="region:'north',split:true" border="false" style="height:100px;">
        <div style="weidth:100%;background:#ffffff" align="center">
            <h1>欢迎使用</h1>
        </div>
    </div>

    <!--中间展示区-->
    <div data-options="region:'center'" style="height:500px">

        <pre>
            项目简介：
                此项目的设计目标主要用于需要多人协作、需要对操作权限做精确控制的管理系统使用。目前只提供了权限管理、用户组管理、
                用户管理基础功能，后续如果有可以公用的功能会陆续增加进来。

            功能介绍： 
            
            1：管理员管理 
                管理可以使用此系统的用户
                功能：查询、新增、修改（可以直接重置密码）删除、管联用户组（管理用户组后可以拥有改组的所有权限）
            2：管理员组管理
                主要是用于用户分组和权限分组
                功能：查询、新增、修改、删除、关联权限（设置这个组拥有那些权限）
            3：权限管理
                用于管理系统中所有的操作权限、导航菜单中的菜单目录
                功能：查询、新增、修改、删除
                ps：这里的权限有三种用途
                    A：作为导航菜单中的目录使用（新增的时候只需要填写 权限名称 和 选择是否作为菜单）
                    B：仅作为菜单（新增的时候必须填写 权限名称、请求地址、模块名称、操作名称、并选择作为菜单为 是）
                    C：仅作为一个普通权限（新增的时候必须填写 权限名称、模块名称、操作名称、并选择作为菜单为 否）


            此页面主要作为欢迎页面，后续可以加入公告，快捷入口，帮助文档入口等
        </pre>

    </div>


</body>