<!--添加权限窗口 -->
<div style="padding:10px 50px 20px 50px">
    <form id="addrole" method="post">
        <input type="hidden" value="0" name="roleismenu"></input>
        <input type="hidden" value="0" name="role_isdir"></input>
        <table cellpadding="5">
            <tr>
                <td>目录名称:</td>
                <td><input class="easyui-textbox" type="text" name="rolename" required="true" missingMessage="不能为空"></input>
                </td>
            </tr>

            <tr>
                <td>描述:</td>
                <td><input class="easyui-textbox" name="roledescribe" data-options="multiline:true" style="height:60px"></input>
                </td>
            </tr>
        </table>
        <div style="text-align:center;padding:10px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitAddRoleForm()">Submit</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearAddRoleForm()">Clear</a>
        </div>
    </form>

</div>

<script type="text/javascript" src="{{.staticUrl}}/js/role/addRole.js"></script>